.tldr, .info {
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 5px;
    font-weight: bolder;
}

.tldr {
    color: rgb(128, 0, 128);
    border-color: rgb(128, 0, 128);
    background-color: rgb(240, 224, 240);
}

.info {
    color: rgb(12, 182, 216);
    border-color: rgb(13, 202, 240);
    background-color: rgb(225, 249, 254);
}