.monster, .item, .puzzle {
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    .icon {
        margin-right: 5px;
        font-weight: bolder;
    }
}

/* .monster .icon, .item .icon {
    margin-right: 5px;
    font-weight: bolder;
} */

.monster {
    color: rgb(46, 110, 9);
    border-color: rgb(46, 110, 9);
    background-color: rgb(212, 241, 206);
}

.item {
    color: rgb(216, 145, 12);
    border-color: rgb(216, 145, 12);
    background-color: rgb(254, 244, 225);
}
.puzzle {
    color: rgb(12, 32, 216);
    border-color: rgb(12, 32, 216);
    background-color: rgb(227, 225, 254);
}

.icon i {
    padding-right: 5px;
}