<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <!-- Simple CSS -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    
    <!-- Weather -->
    <link rel="stylesheet" href="{{ '/assets/css/weather.min.css' | relative_url }}">

    <!-- Callouts -->
     
    <link rel="stylesheet" href="{{ '/assets/css/callouts.css' | relative_url }}">
    <script type="text/javascript" src="{{ '/assets/js/callouts.js' | relative_url }}"></script>

</head>
<body class="
    {% assign body_classes = '' %}
    {% if page.weather == 'snow' %}
        {% assign body_classes = body_classes | append: 'weather snow ' %}
    {% elsif page.weather == 'rain' %}
        {% assign body_classes = body_classes | append: 'weather rain ' %}
    {% endif %}
    {{ body_classes | strip }}
">
    <header>
        <a href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1></a>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>
