---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ page.content }}</p>

<h2>Doors:</h2>

  {% assign current_room = page.filename | downcase %}
  {% assign coordinates = current_room | remove: 'room_' | split: '_' %}
  <!-- {% assign current_room = page.title | downcase %}
  {% assign coordinates = current_room | remove: 'room (' | remove: ')' | split: ', ' %} -->
  {% assign x = coordinates[0] | plus: 0 %}
  {% assign y = coordinates[1] | plus: 0 %}

  {% assign directions = "up,down,left,right" | split: "," %}
  {% assign direction_coords = "0,-1, 0,1, -1,0, 1,0" | split: "," %}
  <!-- {% assign direction_icons = "&#9650; &#9660; &#9664; &#9654;" | split: " " %} -->

  {% assign direction_icons = "&#8679; &#8681; &#8678; &#8680;" | split: " " %}

  {% for direction in directions %}
    {% assign index = forloop.index0 %}
    {% assign icon = direction_icons[index] %}
    {% assign dx_index = index | times: 2 %}
    {% assign dy_index = index | times: 2 | plus: 1 %}
    
    {% assign dx = direction_coords[dx_index] %}
    {% assign dy = direction_coords[dy_index] %}
    
    {% assign new_x = x | plus: dx | plus: 0 %}
    {% assign new_y = y | plus: dy | plus: 0 %}
    
    {% assign room_filename = "room_" | append: new_x | append: "_" | append: new_y | append: ".md" %}

    {% assign room_path = "_rooms/" | append: room_filename %}
    {% for room in site.rooms %}
        {% if room.path == room_path %}
            {% assign room_file = room %}
        {% endif %}
    {% endfor %}
    <!-- <script>
      console.log("{{direction}}?: {{ x }}, {{ y }} + {{ dx }}, {{ dy }} = {{ new_x }}, {{ new_y }}");
      console.log("{{direction}}?: {{ room_filename }}");
    </script> -->

    {% if room_file %}
        <!-- <script>
          console.log("{{direction}} exists: {{ room_file.url }}");
        </script> -->
        <a href="{{ site.baseurl }}/{{ room_file.url }}">{{ direction | capitalize }} {{ icon }} </a><br />
    {% endif %}
    {% assign room_file = nil %} <!-- Reset -->
  {% endfor %}
{% include movement.html %}
