---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ page.description }}</p>

<h2>Doors:</h2>
<ul>
  {% assign current_room = page.title | downcase | slugify %}
  {% assign coordinates = current_room | split: '_' %}
  {% assign x = coordinates[1] | plus: 0 %}
  {% assign y = coordinates[2] | plus: 0 %}

  {% assign directions = 
    {
      "up": [x, y | minus: 1],
      "down": [x, y | plus: 1],
      "left": [x | minus: 1, y],
      "right": [x | plus: 1, y]
    } 
  %}

  {% for direction, coords in directions %}
    {% assign room_name = "room_" | append: coords[0] | append: "_" | append: coords[1] %}
    {% if site.pages | where: "path", "_rooms/" | append: room_name | append: ".md" | first %}
      <li><a href="/rooms/{{ room_name | slugify }}/">{{ direction | capitalize }}</a></li>
    {% endif %}
  {% endfor %}
</ul>



{% include movement.html %}