---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ page.description }}</p>

<h2>Doors:</h2>
<ul>
  {% assign current_room = page.title | downcase | slugify %}
  {% assign coordinates = current_room | split: '_' %}
  {% assign x = coordinates[1] | plus: 0 %}
  {% assign y = coordinates[2] | plus: 0 %}

  {% assign directions = 
    "up,down,left,right" | split: "," 
  %}
  
  {% assign direction_coords = 
    "0,-1,0,1,-1,0,1,0" | split: ","
  %}

  {% for direction in directions %}
    {% assign index = forloop.index0 %}
    {% assign dx = direction_coords[index | times: 2] %}
    {% assign dy = direction_coords[index | times: 2 | plus: 1] %}
    
    {% assign new_x = x | plus: dx %}
    {% assign new_y = y | plus: dy %}
    
    {% assign room_name = "room_" | append: new_x | append: "_" | append: new_y %}
    {% assign room_file = site.rooms | where: "path", "_rooms/" | append: room_name | append: ".md" | first %}
    
    {% if room_file %}
      <li><a href="{{ room_file.url }}">{{ direction | capitalize }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

{% include movement.html %}
